#app
  font-family 'Avenir', Helvetica, Arial, sans-serif
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  .v-carousel
    .v-carousel__prev
      .v-icon
        font-size 2rem !important
    .v-carousel__next
      .v-icon
        font-size 2rem !important
    .v-carousel__controls
      height 1rem
      background none
      bottom .3rem
      .v-btn--icon.v-btn--small
        width 1rem
        height 1rem
        margin-left .2rem !important
        margin-right .2rem !important
      .v-icon
        font-size .64rem !important
        // position absolute